.box {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  color: black;
  height: 700px;
  width: 300px;
}

.box h2 {
  display: flex;
  justify-content: center;
}

.box span {
  display: flex;
  justify-content: center;
}

.box input {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  border: 1px solid #efefef;
}

.box img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}


hr {
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.login-form-box {
  display: flex;
  flex-direction: column;
}

.login-form-box input {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  align-items: flex-start;
}

.login-form-box input.login-input {
  background: 0 0;
  border: 1px solid #efefef;
  box-sizing: 3px;
  box-sizing: border-box;
  color: #262626;
  padding: 9px 8px 7px;
  font-size: 14px;
  text-align: left;
  line-height: 18px;

  width: 100%;
}
