.main {
  background: #fafafa;
  position: absolute;
  width: 100%;
  height: 100%;
}

.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  vertical-align: baseline;
  color: #262626;
  justify-content: center;
  width: 350px;
}

@media only screen and (max-width: 500px){
  [class*="box"]{
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.box h2 {
  display: flex;
  justify-content: center;
}

.box span {
  display: flex;
  justify-content: center;
}

.box input {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  border: 1px solid #efefef;
}

.box img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


hr {
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

.login-form-box input {
  background: #4c69ba;
  border-color: #4c69ba;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 285px;
  text-align: center;
  box-sizing: border-box;
  align-items: flex-start;
}



.login-form-box input.login-input {
  background: 0 0;
  border: 1px solid #efefef;
  box-sizing: 3px;
  box-sizing: border-box;
  color: #262626;
  padding: 9px 8px 7px;
  font-size: 14px;
  text-align: left;
  line-height: 18px;

  width: 285px;
}

.login-form-box input.login-input::placeholder {
  color: #D3D3D3;
}

.login-form-box input.login-input:focus {
  border-color: #A9A9A9;
}


.my-facebook-button-class {
  color: #4c69ba;
  padding-top: 15px;
}


i.fa {
  padding-right: 8px;
}

div.line {
  display: flex;
  flex-direction: row;
}

div.sign-up {
  background-color: #fff;
  width: 350px;
  height: 70px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media only screen and (max-width: 500px){

  [class*="sign-up"]{
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

div.sign-up h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #fafafa;
}

.sign-up button {
  padding-left: 5px;
  color: #4c69ba;
}
